#contentContainer  {
float: left;
margin-left: 10px;
position:relative;
/*overflow:hidden; */
z-index:2;
}

#contentContainer .graphPaper {
background:url('../../images/graphBg.png');
height:100%;
width:100%;

}


