#sidebar {
float: left;
width: 183px;

}

#sidebar #sidebarTabContainer {
position:relative;
z-index: 10;
height: 26px;
left:6px;
overflow:hidden;
}
#sidebar #sidebarTabContainer .sidebarTab {
float: left;
background:url('../../images/dskTabUnprssd.png')no-repeat;
height: 24px;
width:57px;
font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT";
-webkit-font-smoothing:antialiased;
text-align: center;
line-height:2;
color:white;
font-size: 12px;
margin-right:-5px;
position:relative;
top:2px;
}
#sidebar #sidebarTabContainer  .sidebarTab.active {
background:url('../../images/deskTab.png')no-repeat; 
position:relative;
top:-2px;
height: 27px;
margin-right:-2px;
padding-top:3px;
}
#sidebar #deskContainerOuter {/**width is 100% by default and no overflow is set, so the paneling won't be cropped; **/
    position: relative;
    left: -1px;
}

/** this one has no top and left property cuz the default is 0 and 0 respectively **/
#sidebar #deskContainerOuter #desksTopBar {/** width of image with right side corner **/ 
position:absolute;background: url(../../images/topPanel6.png)no-repeat; 
z-index:1;
width:183px;
height: 13px;
top: 0px;
}
    
/** since #deskContainerOuter increases in height based on its contents, i.e. #deskContainer, this when set to 100% height will follow the height of its parent, i.e. #deskContainerOuter. So in summary, we have an interesting inheritance of property value scheme: 1) #deskContainer gets its height set via my automatic resize javascript, 2) #deskContainerOuter gets its height from #deskContainer, 3) and #desksRightBar gets its height from #deskContainerOuter when its height is set as a percentage of it (i.e. 100%). Therefore you can simply repeat-y it and it will be in the right place. **/
#deskContainerOuter #desksRightBar {
position:absolute; 
right: 0px; 
background: url(../../images/sidePanel2.png) repeat-y; 
width:14px;
height: 100%;
}

/** this only has a bottom: 0px css property, and because of the way its parent div (#deskContainerOuter) increases in height based on the "in the flow content" it contains (i.e. #deskContainer), this will automatically always be at the bottom of the #deskContainer **/
#deskContainerOuter #desksBottomBar {
position:absolute;
background: url(../../images/bottomPanel3.png)no-repeat;
z-index:1;
bottom: -15px; 
width:183px; 
height: 15px;
}

#triangle_cube {
	width: 172px;
	overflow:hidden;
	
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	perspective: 500px;
}

#triangle_cube .content_cube {
	/**-webkit-transition:-webkit-transform .5s linear;**/
}

#triangle_cube .content_cube > div {
	box-shadow: none;
}


#sidebar .deskContainer {
overflow-y: scroll;
overflow-x: hidden;
width: 180px; height: 100%;
-moz-box-shadow:inset -1px 0px 20px 3px rgba(0, 0, 0, 0.72);
-webkit-box-shadow:inset -1px 0px 20px 3px rgba(0, 0, 0, 0.72);
box-shadow:inset -1px 0px 20px 2px rgba(0, 0, 0, 0.72);
position: relative;
top: 10px;
}

#sidebar .deskContainer .desk {
background:url('../../images/deskBttn.png')no-repeat;
position:relative;
height: 64px;
width:170px;
}

#sidebar .deskContainer .desk.active {

background:url('../../images/deskBttnPrssd.png')no-repeat;

}

#sidebar .deskContainer .desk .deskImgContainer {
width: 46px;
height: 45px;
overflow: hidden;
border: 1px solid gray;
float: left;
margin-top:7px;
margin-left:10px;
}


#sidebar .deskContainer .desk .deskInfoContainer {
float: left;
}
#sidebar .deskContainer .desk h1 {
text-shadow:1px 1px 0 rgba(0,0,0,0.1);
font-weight:normal;
color:#FFFFFF;
letter-spacing:1pt;
word-spacing:2pt;
font-size:12px;
text-align:left;
font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT";
-webkit-font-smoothing:antialiased;
line-height:1;
margin-top:10px;
margin-left:5px;
}
    
#sidebar .deskContainer .desk .deskStar {
float: left;
height:15px;
width: 14px;
margin-left:8px;
margin-right:18px;
margin-top:8px;
text-indent: 20px; /**background:url(../../images/star-gray.png) no-repeat;**/
background:url('../../images/blackStarcnt2.png')no-repeat;
text-shadow:1px 1px 0 rgba(0,0,0,0.1);
font-weight:normal;
color:yellow;
letter-spacing:1pt;
word-spacing:2pt;
font-size:12px;
text-align:left;
font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT";
-webkit-font-smoothing:antialiased;
line-height:1.25;
}
#sidebar .deskContainer .desk .deskCheckmark {
float: left;
height:15px;
width: 14px;
margin-left:8px;
margin-right:15px;
margin-top:7px;
text-indent: 20px; /**background:url(../../images/star-gray.png) no-repeat;**/
background:url('../../images/blackCheck1.png')no-repeat;
text-shadow:1px 1px 0 rgba(0,0,0,0.1);
font-weight:normal;
color:yellow;
letter-spacing:1pt;
word-spacing:2pt;
font-size:12px;
text-align:left;
font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT";
-webkit-font-smoothing:antialiased;
line-height:1.45;
}
#sidebar .deskContainer .desk .deskCheckmark.MoreYellow {
float: left;
text-indent: 15px; /**background:url(../../images/checkmark-yellow.png) no-repeat;**/
}

#sidebar .deskContainer .desk .bulb {
position: absolute;
bottom: 5px;
right: 5px;
width: 20px;
height: 20px;
}
#sidebar .deskContainer .desk .bulb.green {
background:url('../../images/bulbGreen1.png') no-repeat;
}
#sidebar .deskContainer .desk .bulb.orange {
background:url('../../images/orangeBulb1.png') no-repeat;
}
#sidebar .deskContainer .desk .bulb.red {
background: url('../images/bulbRed.png') no-repeat;
}

#sidebar #controlBox {
background:url('../../images/boxBg1.png')repeat-y;
height:134px;
width: 176px;
margin-top: 20px;
margin-left: 4px;
margin-bottom:10px;
-moz-box-shadow:inset 0px 0px 5px 5px #1b1b1b;
-webkit-box-shadow:inset 0px 0px 13px 5px #1b1b1b;
box-shadow:inset 0px 0px 5px 5px #1b1b1b;
border:1px solid #333233;
overflow:hidden;
position:relative;
}

#sidebar #controlBox .controlBox {
position: absolute;
top: 0;
left: 0;
width: 100%;
}

#sidebar #controlBox .controlBoxButton  {
font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT";
-webkit-font-smoothing:antialiased;
text-shadow:1px 1px 0 rgba(0,0,0,0.1);
font-weight:normal;
color:#FFFFFF;
letter-spacing:1pt;
word-spacing:2pt;
font-size:12px;
text-align:center;
line-height:3.75;
}
#sidebar #controlBox .controlBoxButton.active {
background-color: #2D2B2B;
opacity: .7;
-moz-box-shadow:inset 0px 0px 3px 3px rgba(0, 0, 0, 0.91);
-webkit-box-shadow:inset 0px 0px 3px 3px rgba(0, 0, 0, 0.91);
box-shadow:inset 0px 0px 3px 3px rgba(0, 0, 0, 0.91);
}
#sidebar #controlBox .BottomBorder {
background:url('../../images/controlBttn1.png')no-repeat;
height:44px;
}
#sidebar .action_button_container {
width: 178px;
height:62px;
margin-left: 4px;
}

.action_button_container .content_cube {
	-webkit-transition:-webkit-transform .25s linear;
	-webkit-transform: translateZ(-31px) rotateX(0deg);
}

.action_button_container .content_cube > div {
	box-shadow: none;
}

#sidebar .action_button {
background:url('../../images/startQuiz1.png')no-repeat;
width: 100%;
height:100%;
font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT";
-webkit-font-smoothing:antialiased;
text-shadow:1px 1px 0 rgba(0,0,0,0.1);
color:#FFFFFF;
letter-spacing:1pt;
word-spacing:2pt;
font-size:15px;
text-align:center;
line-height:4.25;
}
#sidebar .action_button.active {
background-color: #3B3939;
border:inset 1px solid black;
opacity: .8;
color:#B8B4B8;
-moz-box-shadow:inset 2px 2px 20px 6px rgba(0, 0, 0, 0.91);
-webkit-box-shadow:inset 2px 2px 20px 6px rgba(0, 0, 0, 0.91);
box-shadow:inset 2px 2px 20px 6px rgba(0, 0, 0, 0.91);
}