<template name="search_controls">
	<div class="selector">
         <div class="leftSelector">my classrooms</div>
         <div class="rightSelector active">the internet</div>
	</div>
	<div class="backx"></div>
</template>

<template name="start_cancel_search">	
	<div class="start_cancel_search">		
		<div class="start_search search_button">Start Search</div>
		<div style="clear:both;"></div>
	</div>
</template>


<template name="loading">
	<div id="searchResultsContainer">

		<ul id="loadbar">
		    <li><div id="layerFill1" class="bar green"></div> </li>
		    <li><div id="layerFill2" class="bar red"></div></li>
		    <li><div id="layerFill3" class="bar blue"></div></li>
		    <li><div id="layerFill4" class="bar orange"></div></li>
		    <li><div id="layerFill5" class="bar green"></div></li>
		    <li><div id="layerFill6" class="bar red"></div</li>
		    <li><div id="layerFill7" class="bar blue"></div></li>
		    <li><div id="layerFill8" class="bar orange"></div></li>
		    <li><div id="layerFill9" class="bar green"></div></li>
		    <li><div id="layerFill10" class="bar red"></div></li>
			<li><div id="layerFill11" class="bar blue"></div></li>
		    <li><div id="layerFill12" class="bar orange"></div></li>
		</ul>
		
	</div><!-- END SEARCH RESULTS CONTAINER    -->   
</template>