<template name="bottom">
	<div id="bottom">

		{{> keys}}
		{{> carousel_cube}}
		<div style="clear:both;"></div>
		
	</div><!-- END BOTTOM -->
</template>

<template name="keys">
	<div id="keyContainer">
		<div id="keyWebpages" class="active key touchable"></div>
		<div id="keyImages" class="key touchable"></div>
		<div id="keyVideos" class="key touchable"></div>
		<div id="keyQuizzes" class="key touchable"></div>
		<div style="clear:both;"></div>
	</div>
</template>

<template name="carousel_cube">
	<div id="carousel_cube" class="content_cube_container">  
		  <div class="content_cube ">
		    <div class="front">{{> carouselWebpages}}</div>
			<div class="top">{{> carouselImages}}</div>
		    <div class="back">{{> carouselVideos}}</div>
		    <div class="bottom">{{> carouselQuizzes}}</div>
		  </div>
	</div>
</template>

<template name="carouselWebpages">
	<div id="carouselWebpages" class="carousel">
        <div class="carouselInner">
			{{#each slides}}
				{{> slide}}
			{{/each}}
        </div>
	</div>
</template>

<template name="carouselImages">
	<div id="carouselImages" class="carousel">
        <div class="carouselInner">
			{{#each slides}}
				{{> slide}}
			{{/each}}
        </div>
	</div>
</template>

<template name="carouselVideos">
	<div id="carouselVideos" class="carousel">
        <div class="carouselInner">
			{{#each slides}}
				{{> slide}}
			{{/each}}
        </div>
	</div>
</template>

<template name="carouselQuizzes">
	<div id="carouselQuizzes" class="carousel">
        <div class="carouselInner">
			{{#each slides}}
				{{> slide}}
			{{/each}}
        </div>
	</div>
</template>


<template name="slide">
	{{#if src}}
    	<img id="{{id}}" src="{{src}}" style="width:{{adjusted_width}}px; height:75px;" />
	{{else}}
		<div id="{{id}}" class="iframe_holder" style="width:{{adjusted_width}}px; height:75px;">
			<div class="iframe_cover"></div>
			<iframe class="iframe_slide" src="{{url}}" scrolling="no" style="left:-{{iframe_left}}px; top:-{{iframe_top}}px; width:{{iframe_width}}px; height:{{iframe_height}}px; {{scale_transform}}"></iframe>
		</div>
	{{/if}}
</template>

<template name="draggable">
	{{#if src}}
    	<img id="{{id}}" class="draggable" src="{{src}}" style="width:{{width}}px; height:{{height}}px;  z-index: {{zIndex}};  {{transform}}">
	{{else}}
		<div id="{{id}}" class="iframe_holder_draggable" style="width:{{width}}px; height: {{height}}px; z-index:{{zIndex}}; {{transform}}">
			<div class="iframe_cover"></div>
			<iframe class="iframe_slide" src="{{url}}" scrolling="no" style="left:-{{left}}px; top:-{{top}}px; width:{{adjusted_width}}px; height:{{adjusted_height}}px; {{scale_transform}}"></iframe>
		</div>
	{{/if}}
</template>

