/** BOTTOM START **/
#bottom {
height: 75px;
margin-top: 0px;
}


#bottom #keyContainer {
float: left;
width: 176px;
margin-left: 5px;
}
#bottom #keyContainer .key {
float: left;
width: 43px;
height: 80px;
margin-left: 1px;
background:url('../../images/filterKey1.png') no-repeat;
}
#bottom #keyContainer .key.active {
width: 50px;
height: 88px;
margin-left: -6px;
margin-top:-4px;
z-index:1;
}

#bottom #keyContainer #keyWebpages {
background:url('../../images/keyWeb.png') no-repeat;
}
#bottom #keyContainer #keyImages {
background:url('../../images/keyPic.png') no-repeat;
}
#bottom #keyContainer #keyVideos {
background:url('../../images/keyVid.png') no-repeat;
}
#bottom #keyContainer #keyQuizzes {
background:url('../../images/keyQuiz.png') no-repeat;
}


#bottom #keyContainer #keyWebpages.active {
background:url('../../images/webKeyPrssd.png') no-repeat;
}
#bottom #keyContainer #keyImages.active {
background:url('../../images/imageKeyPrssd.png') no-repeat;
}
#bottom #keyContainer #keyVideos.active {
background:url('../../images/videoKeyPrssd.png') no-repeat;
}
#bottom #keyContainer #keyQuizzes.active {
background:url('../../images/writeKeyPrssd.png') no-repeat;
}

#bottom #carousel_cube {
position:relative; height: 84px;
float: left;
margin-left:10px;
background:url('../../images/carouselBg1.png') repeat;
border-top: 1px solid #333233;
border-left: 1px solid #333233;
overflow:hidden;
}

#carousel_cube .content_cube {
	-webkit-transform: translateZ(-42px) rotateX(0deg);
}

#carousel_cube .content_cube > div {
	box-shadow: none;
}

#bottom .carousel {
position:relative;overflow:auto;
width: 100%; height: 100%; float:left;
}

#bottom .carousel .carouselInner {
position:absolute; white-space: nowrap;
}
 
#bottom .carousel img {
display: block;
float: left;
margin-left: 5px;
height: 75px;
border: 1px solid black;
}

#bottom .carousel div.tmp_loading_div {
width: 200px;
height: 75px;
float: left;
background: url(../../images/DarkBg.png);
border: 1px solid black;
text-align: center;
line-height: 5;
text-shadow: 1px 1px #373636;
color: white;
margin-left:5px;
overflow: hidden;
}

/** BOTTOM END **/