ul#loadbar {
	list-style:none;
	width:170px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:75px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-84px;
	margin-top: -65px;
}
ul#loadbar li {
	float:left;
	position:relative;
	width:11px;
	height:26px;
	margin-left:1px;
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	background:#000;
}

ul#loadbar li:first-child { margin-left:0; }

.bar {
	background-color:#2187e7;  
	background-image: -moz-linear-gradient(45deg, #0DCF04 25%, #B2FA00); 
	background-image: -webkit-linear-gradient(45deg, #0DCF04 25%, #B2FA00);
	width:11px;
	height:26px;
	opacity:0;
}

.bar.green {
	background-image: -moz-linear-gradient(45deg, #f20f09 25%, #f23e5b); 
	background-image: -webkit-linear-gradient(45deg, #f20f09 25%, #f23e5b);
}
.bar.red {
	background-image: -moz-linear-gradient(45deg, #006cea 25%, #32d8ff); 
	background-image: -webkit-linear-gradient(45deg, #006cea 25%, #32d8ff);
}
.bar.blue {
	background-image: -moz-linear-gradient(45deg, #ead700 25%, #f3f608); 
	background-image: -webkit-linear-gradient(45deg, #ead700 25%, #f3f608);
}
.bar.orange {
	background-image: -moz-linear-gradient(45deg, #00ea3d 25%, #10fa04); 
	background-image: -webkit-linear-gradient(45deg, #00ea3d 25%, #10fa04);
}


.barAnimation {
	-webkit-animation:fill .5s linear forwards;
	-moz-animation:fill .5s linear forwards;
}



#layerFill1 { -moz-animation-delay:0s; -webkit-animation-delay:0s; }
#layerFill2 { -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }
#layerFill3 { -moz-animation-delay:1s; -webkit-animation-delay:1s; }
#layerFill4 { -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
#layerFill5 { -moz-animation-delay:2s; -webkit-animation-delay:2s; }
#layerFill6 { -moz-animation-delay:2.5s; -webkit-animation-delay:2.5s; }
#layerFill7 { -moz-animation-delay:3s; -webkit-animation-delay:3s; }
#layerFill8 { -moz-animation-delay:3.5s; -webkit-animation-delay:3.5s; }
#layerFill9 { -moz-animation-delay:4s; -webkit-animation-delay:4s; }
#layerFill10 { -moz-animation-delay:4.5s; -webkit-animation-delay:4.5s; }
#layerFill11 { -moz-animation-delay:4s; -webkit-animation-delay:5s; }
#layerFill12 { -moz-animation-delay:5.5s; -webkit-animation-delay:5.5s; }

@-moz-keyframes fill {
	0%{ opacity:0; }
	100%{ opacity:.5; }	
}

@-webkit-keyframes fill {
	0%{ opacity:0; }
	100%{ opacity:.5; }	
}