.selectedContent {
overflow:hidden;
}

#contentContainer #iframeScroll {
overflow-y: scroll;overflow-x: hidden;
position:relative; height:100%; width: 100%;
/**-webkit-overflow-scrolling:touch;**/
background-color: black;
}

#contentContainer #iframeScroll .iframeInner {
/*
position:relative; white-space: nowrap;
width:100%;
*/
position:absolute;
width: 100%;
z-index: 2;
background-color: black;
}



#contentContainer #iframeScroll .iframeInner iframe {
display: block;
border: none;
height: 2000px;
width: 100%;		
}

#contentContainer #webScroll {
overflow:auto; position:relative; top: 10px; width: 100%;
}
#contentContainer #webScroll #webScrollInner{
position:absolute; white-space: nowrap;
width:100%;
}

#contentContainer #webScroll #webScrollInner div {
white-space: normal;	
}



#contentContainer #searchResultsContainer .textResultsBox {
background:url('../../images/textBoxBg.png')repeat-x;
height:116px;
padding-top:15px;
padding-left:18px;
margin-top:8px;
}

#contentContainer #searchResultsContainer .textResultsBox.active {
-moz-box-shadow:inset 8px 0px 25px 2px rgba(26, 25, 25, 0.94);
-webkit-box-shadow:inset 8px 0px 25px 2px rgba(26, 25, 25, 0.94);
box-shadow:inset 8px 0px 25px 2px rgba(26, 25, 25, 0.94);
}

#contentContainer #searchResultsContainer .textResultsBox .row { 
background:url('../../images/textBoxROW.png')repeat;
height:100px;   
width:98%;
border: 1px solid #4D4C4C;
-moz-box-shadow:inset 0px 0px 8px 1px rgba(119, 119, 119, 0.4);
-webkit-box-shadow:inset 0px 0px 8px 1px rgba(119, 119, 119, 0.4);
box-shadow:inset 0px 0px 8px 1px rgba(119, 119, 119, 0.4);
}

.textResultsBox .row .webResults h1 {
font-family:"Arial", "Helvetica", "sans-serif";
-webkit-font-smoothing:antialiased;
text-shadow:1px 1px 0 rgba(0,0,0,0.1);
font-weight:normal;
text-decoration:underline;
color:#757575;
letter-spacing:1pt;
word-spacing:2pt;
font-size:16px;
line-height:1;
text-indent:20px;
margin-top:8px;
}
.textResultsBox .row .webResults h2 {
font-family:"Arial", "Helvetica", "sans-serif";
-webkit-font-smoothing:antialiased;
text-shadow:1px 1px 0 rgba(0,0,0,0.1);
font-weight:lighter;
color:#00D0FF;
letter-spacing:1pt;
word-spacing:2pt;
font-size:11px;
line-height:1;
text-indent:20px;
margin-top:2px;
}
.textResultsBox .row .webResults p {
font-family:"Arial", "Helvetica", "sans-serif";
-webkit-font-smoothing:antialiased;
text-shadow:1px 1px 0 rgba(0,0,0,0.1);
font-weight:lighter;
color:#FFFFFF;
letter-spacing:1pt;
word-spacing:2pt;
font-size:12px;
line-height:1;
margin-top:5px;
margin-left:20px;
width: 90%;
overflow: hidden;
height: 36px;
}

.textResultsBox .row .arrow {
background:url('../../images/searchArrow.png') no-repeat;
float:right;
width:32px;
height:38px;
margin-top:-45px;
margin-right:20px;
}



#imageSearch, #videoSearch, #quizSearch  {
height:100%;
width:100%;
overflow:auto;
position:relative;
top: 10px;
}


#imageSearch #imageSearchInner, #videoSearch #videoSearchInner, #quizSearch #quizSearchInner {
position:absolute; white-space: nowrap;
height: 100%;
}

#imageSearch .imagePage, #videoSearch .videoPage, #quizSearch, .quizPage {
float:left;
width: 100%;
height: 100%;
display:block;
text-align:center;
white-space:normal;
padding: 5px 8px 0px 8px;
}

#imageSearch .imagePageContainer, #videoSearch .videoPageContainer,#quizSearch .quizPageContainer {
float:left;
color:white;
background-color: black;
opacity: .7;
border-radius: 4px;

/**
border: 2px solid #0B70FE;
padding: 5px;
**/
overflow:hidden;
margin-bottom: 8px;
position:relative;
text-align: left;
}

#contentContainer #videoSearch .videoPageContainer img {
width: 50%;
padding: 2% 2% 0% 2%;
border-radius: 8px;
}

#contentContainer #videoSearch .videoPageContainer div.videoInfoContainer {
display:inline-block;
position:absolute;top:0px;right:5px;
text-align:right;
}

#contentContainer #videoSearch .videoPageContainer div.videoInfoContainer span {
font-size:10px;
}
#contentContainer #videoSearch .videoPageContainer div.videoInfoContainer span.videoViews {
margin-right:-4px;
}

#contentContainer #videoSearch .videoPageContainer div.videoTitle {
font-size: 14px;
padding: 0px 5px;
}

#contentContainer #videoSearch .videoPageContainer div.videoDescription {
font-size: 10px;
padding: 0px 5px;
}